<br>
<small><%= link_to "Back to welcome screen", root_path %> </small>
<br>
<br>
<h3>&#x1F6E1;List of clubs</h3>
<br>

<% @clubs.each do |club| %>
	<small>(<%= club.id %>)</small>  <%= club.shortname %> (<%= club.acronym %>)
	<br>
<% end %>