<br>

<h3>Welcome</h3>

<br><%= link_to "List of competitions", competitions_path %> &#x1F5DE;
<br><%= link_to "List of clubs", clubs_path %> &#x1F6E1;
<br><%= link_to "List of teams", teams_path %> &#x1F465;